body{
    font-family: fantasy;
    background-image: url('optical.gif');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.deco {
    background-color: rgb(78, 17, 159);
    color: black;
    font-weight:900;
    font-size: 2.5em;
    text-decoration:none !important;
    }

.deco:hover {
    text-shadow: 
    3px 3px 6px #ccc,
    -6px -6px 3px #333,
    -9px 9px 7px #555,
    12px -12px 7px #444
    }
